<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>nozomibot Web</title>

  <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="static/custom.css">
  <style type="text/css">
  .bs-component + .bs-component {
    margin-top: 1rem;
  }
  </style>
  <script>
    // check media type
    var ua = navigator.userAgent;
    if(ua.indexOf("iPhone") > 0 || ua.indexOf("Android") > 0 && ua.indexOf("Mobile") > 0){
      var MEDIA = "mobile";
    }else if (ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0) {
      var MEDIA = "tablet";
    }else{
      var MEDIA = "PC";
    }
    
    // search by word
    function search_word(elemID){
      let input = document.getElementById(elemID);
      if(input.value.trim()==""){
        input.value = "";
        input.focus();
        return false;
      }else{
        text = input.value.trim();
        document.location.href = `/${text}`
        return false;
      }
    }
  </script>
</head>

<body>
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" data-toggle="tooltip" data-placement="bottom" title="top page">nozomibot Web Version</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="mode_dictionary">
          <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-html="true"
          title="สามารถค้นหาคำแปล การผันรูป(เฉพาะกริยาและ i-adj) accent และคันจิได้ทีเดียว
          <br>1. ใส่คำที่อยากหา
          <br>2. กด search">dictionary</a>
        </li>
        <li class="nav-item" id="mode_tokenize">
          <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-html="true"
          title="ตัดประโยคเป็นคำๆ พร้อมวิธีออกเสียงและประเภทคำ
          <br>1. ใส่ประโยคที่อยากตัด
          <br>2. เลือกว่าแสดงผลละเอียดเป็นภาษาญี่ปุ่นหรือไม่
          <br>3. กด tokenize">tokenize</a>
        </li>
        <li class="nav-item" id="mode_example">
          <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-html="true"
          title="ค้นหาตัวอย่างประโยคจาก Twitter และ NHK News Web
          <br>1. ใส่คำที่อยากเซิร์ช
          <br>2. เลือก maximum
          <br>3. เลือกวิธีแสดงผล(highlight หรือ concordance)
          <br>4. กด search">example</a>
        </li>
        <li class="nav-item" id="mode_corpus">
          <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-html="true"
          title="ค้นหาคู่บทความ NHK News Web และ NHK News Web Easy ซึ่งเนื้อหาเดียวกัน
          <br>1. เลือกหมวดหมู่
          <br>2. ใส่ keyword (ถ้าไม่ใส่ อาจจะใช้เวลานิดหน่อย)
          <br>3. กด search">NHK corpus</a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0" onsubmit="return search_word('input_navbar');">
        <input class="form-control mr-sm-2" type="text" placeholder="คำ" id="input_navbar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">search</button>
      </form>
      
    </div>
  </nav>
</header>


{% block content %}

  <!-- contents of each page-->

{% endblock %}


<!--
<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p><font color="white">&copy; 2020 Nozomi Yamada All Rights Reserved.</font></p>
  </nav>
</footer>
-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="static/bootstrap.min.js"></script>

<script type="text/javascript">
  $('body [data-toggle="popover"]').popover();
  $('body [data-toggle="tooltip"]').tooltip();

</script>

</body>
</html>
