{% extends "layout.html" %}
{% block content %}
<style>
  #contextmenu{
            position:fixed;
            left:0px;
            top:0px;
            width:200px;
            height:100px;
            border:1px solid #000;
            background-color:#fff;
        }
        #contextmenu li{
            cursor:pointer;
        }
</style>
<script>Array.from(document.getElementsByClassName('nav-item')).forEach(x => x.classList.remove('active'));
  document.getElementById('mode_corpus').classList.add('active');
</script>

<div class="container">

	<div class="row my-3">
    <div class="col-lg-12">
			<div class="bs-component">
        <h3>Category: {{ genre }}　Keyword: {{ text }}</h3>
        <h3>全 {{ articles|length}} 件 &nbsp;<button type="button" onclick="history.back();" class="btn btn-secondary">back</button></h3>
      </div>
    </div>
	</div> 

  <div class="row my-3">
    <div class="col-lg-12">
			<div class="bs-component">
        <table class="table" style="table-layout: fixed;">
          <thead>
            <tr>
              <th style="width: 10%;"><h3>Date</h3></th>
              <th style="width: 45%;"><h3><a href="https://www3.nhk.or.jp/news/easy/" target="blank_">Easy</a></h3></th>
              <th style="width: 45%;"><h3><a href="https://www3.nhk.or.jp/news/" target="blank_">Normal</a></h3></th>
            </tr>
          </thead>
          <tbody>
            {% for x in articles %} <!-- title_easy, article_easy, title, article, date, genre -->
              <tr class="nhktitle table-active" onclick="show_hide_article({{ loop.index }});">
                <td>{{ x[4]|safe }}</td> <!-- date -->
                <td>{{ x[0]|safe }}</td> <!-- title_easy -->
                <td>{{ x[2]|safe }}</td> <!-- title normal -->
              </tr>
              <tr class="nhkcontent" style="display: none;" id={{ loop.index }}>
                <td>{{ x[5]|safe }}</td> <!-- genre -->
                <td>{{ x[1]|safe }}</td> <!-- article_easy -->
                <td>{{ x[3]|safe }}</td> <!-- article_normal -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
			</div>
    </div>
	</div>
</div>


<script>
  function show_hide_article(elemID){
    // show or hide
    content = document.getElementById(elemID);
    content.style.display = (content.style.display=='none')? '':'none';
    // scroll
    rectTop = event.target.getBoundingClientRect().top;
    offsetTop = window.pageYOffset;
    window.scrollTo({top:rectTop+offsetTop-100, behavior: "smooth"});
  }
</script>

{% endblock %}