{% extends "layout.html" %}
{% block content %}

<!-- TOKENIZE PAGE -->
<script>
	document.querySelectorAll('.nav-item').forEach(x => x.classList.remove('active'));
	mode_tokenize.classList.add('active');
</script>

<!-- INPUT % RESULT CONTAINER -->
<div class="container" id="container_tokenize">
	<div class="row">
		<div class="col-lg-12">

			<!-- INPUT FORM -->
			<div class="card">
				<div class="card-body">
					<form onsubmit="return false; ajax_tokenize();">
						<h2>การตัดคำ</h2>
						<div class="form-group">
							<textarea type="text" class="form-control h3" id="input_text" v-on:input="resize()" v-model="text" placeholder="ประโยคภาษาญี่ปุ่น"></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-round h5" onclick="ajax_tokenize();">tokenize</button>
						<button type="reset" class="btn btn-round h5" v-on:click="reset()">reset</button>
					</form>
				</div>
			</div>

			<!-- RESULT CARD -->
			<div class="card card-nav-tabs" style="margin-top: 60px; display: none;" v-show="result != 0">
				<!-- HEADER -->
				<div class="card-header card-header-primary">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<ul class="nav nav-tabs" data-tabs="tabs">
								<li class="nav-item" v-show="result.tokens">
									<a class="nav-link active" href="#tab_tokenize" data-toggle="tab">TOKENIZE</a>
								</li>
								<li class="nav-item" v-show="result.roman">
									<a class="nav-link" href="#tab_roman" data-toggle="tab">ROMANIZE</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- RESULT BODY -->
				<div class="card-body mt-4">
					<div class="tab-content">
						<!-- TOKENIZE TAB -->
						<div class="tab-pane active" id="tab_tokenize">
							<div class="togglebutton text-primary">
								<label>
									<input type="checkbox" v-model="pos_check">
									<span class="toggle"></span><span class="text-muted">แสดงประเภทคำเป็นภาษาญี่ปุ่น</span>
								</label>
							</div>
							<!-- JAPANESE POS -->
							<table class="table" v-show="pos_check == true">
								<tr class="table-active">
									<th>語<br>คำ</th>
									<th>発音<br>วิธีอ่าน</th>
									<th>辞書形<br>รูปดิก</th>
									<th>品詞<br>ประเภทคำ</th>
								</tr>
								<tr v-for="row in result.tokens">
									<td v-if="row[3].match('助|記号|特殊')">{{ row[0] }}</td>
									<td v-else><a v-bind:href="row[2]" target="_blank">{{ row[0] }}</a></td>
									<td>{{ row[1] }}</td>
									<td>{{ row[2] }}</td>
									<td>{{ row[3] }}</td>
								</tr>
							</table>
							<!-- THAI POS -->
							<table class="table" v-show="pos_check == false">
								<tr class="table-active">
									<th>語<br>คำ</th>
									<th>発音<br>วิธีอ่าน</th>
									<th>辞書形<br>รูปดิก</th>
									<th>品詞<br>ประเภทคำ</th>
								</tr>
								<tr v-for="row in result.tokens2"> 
									<td v-if="row[3].match('คำช่วย|เครื่องหมาย')">{{ row[0] }}</td>
									<td v-else><a v-bind:href="row[2]" target="_blank">{{ row[0] }}</a></td>
									<td>{{ row[1] }}</td>
									<td>{{ row[2] }}</td>
									<td>{{ row[3] }}</td>
								</tr>
							</table>
						</div>
						<!-- ROMANIZE TAB -->
						<div class="tab-pane" id="tab_roman">
							<p class="h3 pointer" data-toggle="tooltip" data-placement="bottom" title="click to copy"
								onclick="copy_to_clipboard(this);" v-html="result.roman"></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script>

	var vue = new Vue({
		el:'#container_tokenize',
		data:{
			text: '',
			result: 0,
			pos_check: false
		},
		methods:{
			resize: function(){
				if(input_text.scrollHeight < 400){
					input_text.style['min-height'] = 0; // initialize
					input_text.style['min-height'] = input_text.scrollHeight + 'px';
				}
			},
			reset: function(){
				input_text.style['min-height'] = 0; // initialize
				this.text = '';
				input_text.focus();
			}
		}
	})

	function ajax_tokenize(){
		if(vue.text.trim()==''){input_text.focus(); return;}
		// $('#searchingModal').modal('show');
		$.ajax({
			data : {text: vue.text},
			type: "POST",
			dataType: "json",
			cache: false,
			timeout: 3000,
			url : "/tokenize"
		}).done(function(returnData){
			// $('#searchingModal').modal('hide');
			vue.result = returnData;
		});
	}
</script>


{% endblock %}